<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>

    <!--<bean id="springQueueListener" class="com.zhongjie.listener.SpringQueueListener"/>-->
    <!--<bean id="fanoutListener1" class="com.zhongjie.listener.FanoutListener"/>-->
    <!-- <bean id="fanoutListener2" class="com.baiqi.rabbitmq.listener.FanoutListener2"/>
    <bean id="topicListenerStar" class="com.baiqi.rabbitmq.listener.TopicListenerStar"/>
    <bean id="topicListenerWell" class="com.baiqi.rabbitmq.listener.TopicListenerWell"/>
    <bean id="topicListenerWell2" class="com.baiqi.rabbitmq.listener.TopicListenerWell2"/>
-->

    <context:component-scan base-package="com.zhongjie.listener"></context:component-scan>


    <!--auto-declarez自动创建监听器-->
    <!--acknowledge = manual 手动签收消息-->

    <!--<rabbit:listener-container connection-factory="connectionFactory" auto-declare="true" acknowledge="manual">-->
       <!--<rabbit:listener ref="ackListener" queue-names="spring_direct_queue_confrim" />-->
        <!--&lt;!&ndash;<rabbit:listener ref="fanoutListener1" queue-names="spring_fanout_queue_1"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<rabbit:listener ref="fanoutListener2" queue-names="spring_fanout_queue_2"/>-->
        <!--<rabbit:listener ref="topicListenerStar" queue-names="spring_topic_queue_star"/>-->
        <!--<rabbit:listener ref="topicListenerWell" queue-names="spring_topic_queue_well"/>-->
        <!--<rabbit:listener ref="topicListenerWell2" queue-names="spring_topic_queue_well2"/>&ndash;&gt;-->
    <!--</rabbit:listener-container>-->

    <!--prefetch = 1 限制消费端一次拿取消息数量 只有手动签收了消息才会去拿下一条-->

    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true" acknowledge="manual" prefetch="2">
    <rabbit:listener ref="prefetchAckListener" queue-names="spring_direct_queue_confrim" />

    </rabbit:listener-container>


    <!--配置订单延迟队列监听器-->
    <rabbit:listener-container connection-factory="connectionFactory" auto-declare="true" acknowledge="manual" prefetch="2">
        <rabbit:listener ref="orderAckListener" queue-names="order_queue_dlx" />

    </rabbit:listener-container>
</beans>